<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link rel="stylesheet" href="./style.css">

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>


  <div id="app">
    <div class="animations-options">
      <button v-for="(animation, index) in animationsOptions" key="animation"  @click="currentItem = animation" :class="animation + index">
        <span>{{animation}}</span>
      </button>
    </div>

    <div class="box-wrapper">
      <div v-if="cssText" class="css-text">
        {{cssText}}
      </div>

      <div class="boxToEffect" :class="currentItem">
          <div v-if="currentItem === 'running-border'" class="card"> </div>
      </div>
    </div>
  </div>
 
</body>
 <script>
    const { createApp } = Vue

    createApp({
      data() {
        return {
          animationsOptions: ['fade-in', 'fade-out', 'fade-in-out', 'rotate', 'emerge', 'running-border'],
          currentItem: 'fade-in',
          cssText: 'Showing animation: ' + 'fade-in'
        }
      },
      methods: {
        getCss() {
          this.cssText = 'Showing animation: ' + this.currentItem
        }
        
      },
      watch: {
        currentItem: 'getCss'
      }
    }).mount('#app')
  </script>
</html>